body{
    background-color: white;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
    
}
.card {
    display: inline-block;
    margin: 10px 10px 10px 20px;
}


