body{
  background-color: white;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 100%;
  
}



.navbar{
    padding-bottom: 10px;
}



